@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

.card {
    padding: 10px 20px 20px 20px;
    border-radius: 14px;
    border: 2px solid rgb(235, 235, 235) !important;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0px 5px 5px 2px rgba(166,166,166,0.8);
}
.card > div > button {
    width: 100%;
}

.recipe-icon {
    width: 400px;
}

button {
    height: 40px;
    border-radius: 14px;
    border: 2px solid white;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 500;
}

.btn-see-more {
    width: 100%;
    height: 40px;
    border-radius: 14px;
    border: 2px solid white;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 500;
}
.btn-see-more:hover {
    box-shadow: 0px 10px 15px 2px rgba(166,166,166,0.8);
}

.btn-search {
    height: 40px;
    border-radius: 14px;
    border: 2px solid white;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 500;
    padding: 0 25px;
}
.btn-search:hover {
    box-shadow: 0px 10px 15px 2px rgba(166,166,166,0.8);
}

.btn-go-back {
    border-radius: 14px;
    border: 2px solid white;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 35px;
    display: flex;
    align-items: center;
}
.btn-go-back:hover {
    box-shadow: 0px 10px 15px 2px rgba(166,166,166,0.8);
}

input {
    height: 40px;
    border-radius: 14px;
    padding-left: 10px;
    border: 2px solid rgb(220, 220, 220);
    transition: 0.4s;
    font-weight: 500;
}

input:hover {
    border: 2px solid rgb(177, 177, 177);
    box-shadow: 0px 10px 15px 2px rgba(166,166,166,0.8);
}

.recipe-desc {
    line-height: 27px;
    font-size: 18px;
}

header {
    padding: 16px 5%;
    background: rgb(234, 234, 234);
    box-shadow: 0px 10px 30px 2px rgba(166,166,166,0.8);
}

footer {
    padding: 16px 5%;
    height: 80px;
    background: rgb(69, 69, 69);
    color: white;
}

main {
    min-height: calc(100vh - 256px);
}

.repo {
    justify-content: end;
}

@media(max-width: 991px) {
    .title {
        text-align: center;
        padding-bottom: 15px;
    }
    .repo {
        justify-content: center !important;
        text-align: center;
        padding-top: 15px;
    }
}